groups:
  - name: postgres
    rules:

      # Recording rules
      - record: postgres_healthy
        expr: pg_up{job="postgresql"} == 1 and up{job="postgresql"} == 1
      - record: postgres_service_supervisord
        expr: sum by (host, name) (node_supervisord_up{name=~"(etcd|patroni|node_exporter|prometheus|postgres_exporter{% if all_in_one %}|postgresql-14{% endif %}|nginx)"})
        labels:
          process_manager: supervisord
      - record: postgres_service
        expr: postgres_service_supervisord

      # Alerting rules
      - alert: postgres_down
        expr: pg_up == 0
        for: {{ alert_for }}
        labels:
          severity: critical
        {% raw -%}
        annotations:
          summary: "PostgreSQL is down (host {{ $labels.host }})"
        {%- endraw %}
      - alert: postgres_exporter_down
        expr: up{job="postgresql"} == 0
        for: {{ alert_for }}
        labels:
          severity: critical
        {% raw -%}
        annotations:
          summary: "PostgreSQL Exporter is down (host {{ $labels.host }})"
        {%- endraw %}
      - alert: postgres_service_down
        expr: postgres_service == 0
        for: {{ alert_for }}
        labels:
          severity: warning
        {% raw -%}
        annotations:
          summary: "One of the db node services is down (host {{ $labels.host }})"
          description: "System service {{ $labels.name }} is down on {{ $labels.host }}."
        {%- endraw %}
