groups:
  - name: rabbitmq
    rules:

      # Recording rules
      - record: rabbitmq_healthy
        expr: sum by(host, instance, job, monitor) (up{job="rabbitmq"}) == 1
      - record: rabbitmq_service_supervisord
        expr: sum by (host, name) (node_supervisord_up{name=~"(node_exporter|prometheus|cloudify-rabbitmq|nginx)"})
        labels:
          process_manager: supervisord
      - record: rabbitmq_service
        expr: rabbitmq_service_supervisord

      # Alerting rules
      - alert: rabbitmq_down
        expr: up{job="rabbitmq"} == 0
        for: {{ alert_for }}
        labels:
          severity: critical
        {% raw -%}
        annotations:
          summary: "RabbitMQ is down (host {{ $labels.host }})"
        {%- endraw %}
      - alert: rabbitmq_service_down
        expr: rabbitmq_service == 0
        for: {{ alert_for }}
        labels:
          severity: warning
        {% raw -%}
        annotations:
          summary: "One of the broker node services is down (host {{ $labels.host }})"
          description: "System service {{ $labels.name }} is down on {{ $labels.host }}."
        {%- endraw %}
