module cloudify 1.0;

require {
{% if 'manager_service' in services_to_install %}
        attribute port_type;
        attribute defined_port_type;
{% endif %}

        type httpd_t;

        class tcp_socket name_connect;
}
{% if 'manager_service' in services_to_install %}
# Define cloudify_port_t for node on :3000 and :8088 and gunicorn on :8100.
# Port numbers must be added with semanage in sepolicy_deploy.sh because it
# is not possible to do so within Policy Module definition.
# https://selinuxproject.org/page/PolicyLanguage

type cloudify_port_t, port_type, defined_port_type;
allow httpd_t cloudify_port_t:tcp_socket name_connect;
{% endif %}

{% if 'monitoring_service' in services_to_install %}
# Allow nginx to connect to the Prometheus running on :9090.

allow httpd_t websm_port_t:tcp_socket name_connect;
{% endif %}
