[
 {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
 {rabbit, [
           {loopback_users, []},
           {ssl_listeners, [5671]},
           {ssl_options, [{cacertfile,"/etc/cloudify/ssl/cloudify_internal_ca_cert.pem"},
                          {certfile,  "/etc/cloudify/ssl/cloudify_internal_cert.pem"},
                          {keyfile,   "/etc/cloudify/ssl/cloudify_internal_key.pem"},
                          {versions, ['tlsv1.2', 'tlsv1.1']},
                          {ciphers, [
                                {ecdhe_ecdsa,aes_256_cbc,sha384},
                                {ecdhe_rsa,aes_256_cbc,sha384},
                                {ecdh_ecdsa,aes_256_cbc,sha384},
                                {ecdh_rsa,aes_256_cbc,sha384},
                                {ecdhe_ecdsa,aes_128_cbc,sha256},
                                {ecdhe_rsa,aes_128_cbc,sha256},
                                {ecdh_ecdsa,aes_128_cbc,sha256},
                                {ecdh_rsa,aes_128_cbc,sha256}
                          ]}
                         ]}
 ]},
 {rabbitmq_management, [{load_definitions, "/etc/rabbitmq/definitions.json"}]}
].
