[Unit]
Description=Cloudify Starter Service
After=basic.target network.target system.slice systemd-journald.socket supervisord

[Service]
Type=oneshot
TimeoutStartSec=0
User=root
Group=root
ExecStart=/usr/bin/cfy_manager image-starter

[Install]
WantedBy=default.target
