[Unit]
Description=Supervisor daemon
Documentation=http://supervisord.org
After=network.target
Before=cloudify-starter.service

[Service]
ExecStart=/usr/bin/supervisord -n -c /etc/supervisord.conf
ExecStop=/usr/bin/supervisorctl -c /etc/supervisord.conf shutdown
ExecReload=/usr/bin/supervisorctl -c /etc/supervisord.conf reload
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
Alias=supervisord.service