[Unit]
Description=Runners to orchestrate a high-availability PostgreSQL
After=syslog.target
After=network.target

[Service]
Type=simple
User=postgres
Group=postgres
ExecStart=/opt/patroni/bin/patroni /etc/patroni.conf
KillMode=process
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
