[Unit]
Description=Prometheus blackbox exporter
Documentation=https://github.com/prometheus/blackbox_exporter
Wants=network-online.target
After=network-online.target[Service]

[Service]
Type=simple
User=cfyuser
Group=cfyuser
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/blackbox_exporter \
  --web.listen-address=127.0.0.1:{{ prometheus.blackbox_exporter.metrics_port }}
SyslogIdentifier=blackbox_exporter
Restart=always

[Install]
WantedBy=multi-user.target
