[Unit]
Description=Prometheus exporter for hardware and OS metrics
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=cfyuser
Group=cfyuser
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/node_exporter \
{%- if service_management == 'supervisord' %}
  --collector.supervisord \
{%- else %}
  --collector.systemd \
{%- endif %}
  --web.listen-address=127.0.0.1:{{ prometheus.node_exporter.metrics_port }}
SyslogIdentifier=node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
