[Unit]
Description=Prometheus exporter for PostgreSQL
Documentation=https://github.com/wrouesnel/postgres_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment="DATA_SOURCE_NAME=postgresql://{% if postgresql_server.db_monitoring.username %}{{ postgresql_server.db_monitoring.username }}{% if postgresql_server.db_monitoring.password %}:{{ postgresql_server.db_monitoring.password }}{% endif %}@{% endif %}{{ prometheus.postgres_exporter.ip_address }}:5432/?sslmode={{ prometheus.postgres_exporter.sslmode }}"
User=cfyuser
Group=cfyuser
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/postgres_exporter \
  --web.listen-address=127.0.0.1:{{ prometheus.postgres_exporter.metrics_port }}
SyslogIdentifier=postgres_exporter
Restart=always

[Install]
WantedBy=multi-user.target
