[Unit]
Description=Prometheus exporter for RabbitMQ
Documentation=https://github.com/kbudde/rabbitmq_exporter
Wants=network-online.target
After=network-online.target[Service]

[Service]
Type=simple
Environment="RABBIT_USER={{ prometheus.rabbitmq_exporter.username }}" \
  "RABBIT_PASSWORD={{ prometheus.rabbitmq_exporter.password }}" \
  "RABBIT_URL={{ prometheus.rabbitmq_exporter.rabbitmq_url }}" \
  "CAFILE={{ prometheus.ca_cert }}" \
  "PUBLISH_PORT={{ prometheus.rabbitmq_exporter.metrics_port }}"
User=cfyuser
Group=cfyuser
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/rabbitmq_exporter
SyslogIdentifier=rabbitmq_exporter
Restart=always

[Install]
WantedBy=multi-user.target
